contourpy
cycler
et_xmlfile
fonttools
kiwisolver
matplotlib
Nuitka
numpy
packaging
pandas
pillow
psutil
pyparsing
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
PyVISA
PyVISA-py
scipy
shiboken6
six
typing_extensions
tzdata
zstandard
